.root {
    height: auto;
    margin: 0;
    overscroll-behavior: none;
}

.fill {
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-balance {
    flex: 1 0;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.card {
    background: white;
    border: 40px solid white;
    border-radius: 8px;
}

.purple {
    background: #99006b;
}

.banner {
    text-align: center;
    color: white;
    background-image: radial-gradient(ellipse farthest-corner at 100% 100%, blue, purple);
    align-items: center;
    justify-content: center;
}
