$ball-pong-width: 3.5%;
$pong-height: 100px;
$paddle-height: 46%;

.pong {

    &-change {
        transition: width 0.5s;
    }

    &-root {
        height: 100px;
        justify-content: space-between;
        align-items: center;
        --pong-ball-width: 32%;

        &-bar {
            @extend .pong-root;
            --pong-ball-width: 32%;
        }

        &-ball {
            @extend .pong-root;
            --pong-ball-width: 10px;
        }
    }

    &-paddle-track {
        width: 10px;
        height: $pong-height;
    }

    &-paddle {
        height: $paddle-height;
        background:black;
        border-radius: 5px;
        position: relative;
        animation: paddleAnimation 1.25s infinite linear;
        transition: background 0.5s, height 0.5s;

        &-offset {
            @extend .pong-paddle;
            animation: paddleAnimationOffset 5s infinite linear;

            &-hidden {
                @extend .pong-paddle-offset;
                background: 0000;
            }
        }

        &-hidden {
            @extend .pong-paddle;
            background: 0000;
        }
    }

    &-ball {
        width: var(--pong-ball-width, 10px);
        height: 100%;
        background: grey;
        border-radius: 5px;
        visibility: visible;
        position: relative;
        animation: slidehorizontal 2.5s infinite alternate linear, slidevertical 1s infinite linear;
    }

    &-sliding {
        width: var(--pong-ball-width, 10px);
        height: 100%;
        background: grey;
        border-radius: 5px;
        visibility: visible;
        position: relative;
        animation: slidehorizontal 2.5s infinite alternate ease-in-out;
    }

    &-track {
        visibility: visible;
        height: 10px;
        background: #eee;
        border-radius: 4px;
        margin: 0px 4px;
        transition: visibility 0.5s;

        &-hidden {
            @extend .pong-track;
            visibility: hidden;
        }
    }
}

@keyframes paddleAnimation {
    0% { margin-top: 0%; }
    25% { margin-top: ($pong-height / 2) - 23px; }
    50% { margin-top: $pong-height - 46px; }
    75% { margin-top: ($pong-height / 2) - 23px; }
    100% { margin-top: 0%; }
}
    

@keyframes paddleAnimationOffset {
    0% { margin-top: ($pong-height / 2) - 23px; }
    25% { margin-top: $pong-height - 46px; }
    50% { margin-top: ($pong-height / 2) - 23px; }
    75% { margin-top: 0%; }
    100% { margin-top: ($pong-height / 2) - 23px; }
}

@keyframes slidehorizontal {
    from { left: 0%; }
    to { left: calc(100% - var(--pong-ball-width, 10px))}
}

@keyframes slidevertical {
    0% { bottom: 0px; }
    25% { bottom: -($pong-height / 2) + 5px; }
    50% { bottom: 0px; }
    75% { bottom: ($pong-height / 2) - 5px; }
    100% { bottom: 0px; }
}

@keyframes bounce {
    0% { left: 0%; bottom: 0px; }
    25% { bottom: -($pong-height / 2) + 5px; }
    50% { bottom: 0px; }
    75% { bottom: ($pong-height / 2) - 5px; }
    100% { bottom: 0px; left: calc(100% - var(--pong-ball-width, 5px)) }
}
