.signup {
    &-card {
        width: 400px;
        transition: height 0.3s;
    }

    &-bar {
        background: deeppink;
    }

    &-button {
        border-radius: 24px;
    }

    &-borderless {
        border: 0px;
    }
}
