.banner {
    text-align: center;
    color: white;
    background-image: radial-gradient(ellipse farthest-corner at 100% 100%, deeppink, #40007e);
    align-items: center;
    justify-content: center;

    &-adjective {
        color: limegreen;
    }
}
