.aug {
    &-nav {
        width: 8%;
        background: white;
        transition: width 0.3s ease-out;

        &-page {
            width: 92%;
        }

        &-root {
            width: 100%;    
            display: flex;
        }
    }
}
