.aug {
    &-nav {
        flex: 1 0;
        background: #40007e;
        color: white;
        padding: 8px;

        &-page {
            flex: 20 0;
        }

        &-root {
            overflow: hidden;
            height: 100%;
            width: 100%;    
            display: flex;
        }
    }
}
