.aug {
    &-nav {
        background: #40007e;
        color: white;
        padding: 8px;

        &-root {
            overflow: hidden;
            height: 100%;
            width: 100%;    
            display: grid;
            grid-template-columns: 10% 90%;
        }

        &-user {
            color: limegreen;
            font-weight: bold;
            margin-bottom: 0px;
            width: 100%;
            word-break: break-word;
        }

        &-head {
            font-weight: bold;
            margin: 0px;
        }
        
        &-main {
            width: 100%;
            flex: 1 1 auto;
        }
        
        &-parts {
            display: grid;
            grid-template-columns: auto auto;
        }

        &-footer {
            flex: 0 1 auto;
        }
    }
}
