div(style={height:'100%',
    'background-image': 'linear-gradient(135deg, white, blue)',
    'display': 'flex',
    'justify-content': 'center',
    'align-items':'center'
    })
    div#bannercontent
        h1(style={'text-align':'center'}) Augmenture
        p(style={'text-align':'center'}) Create 
            strong.adjective amazing 
            | d&d capaign notes
