div(style={height:'100%',
    'background-image': 'radial-gradient(ellipse farthest-corner at 100% 100% ,blue, purple)',
    'display': 'flex',
    'justify-content': 'center',
    'align-items':'center'
    })
    div#bannercontent
        h1(style={'text-align':'center', 'color': 'white'}) Augmenture
        p(style={'text-align':'center', 'color': 'white'}) Create 
            strong.adjective amazing 
            | d&d capaign notes
