html
    head
        include scripts.pug
        include styles.pug
        script(src='https://unpkg.com/react@16/umd/react.development.js')
        script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js')
        title= Augmenture
    body
        div(id="root")
        h1 Hello
        
