nav(class="navbar"
    style={'background-color': '#520099'})
        a(class="navbar-brand"
        style={'border-radius':'6px',
            'padding': '4px 6px',
            'background-color': 'white'}
        ) Augmenture
