.aug-card {
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 40px;
}

.card {
    box-shadow: #aaa 3px 3px 3px 0px;
}

.cardholder {
    padding: 10px;
    max-width: 250px;
}
