.flex {
    display: flex;
    flex-wrap: wrap;
    
    &-center {
        align-items: center;
        justify-content: center;
    }

    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-reverse {
        flex-direction: row-reverse;
    }

    &-nowrap {
        flex-wrap: nowrap;
    }

    &-wide {
        flex: 1 0;
    }

    &-yield {
        flex: 0 1;
    }
}

.flex-balance {
    flex: 1 0;
}
